#logo{
    width: 85px;
    height: 90px;
    position: absolute;
    top: 0px;
}

#tituloPrincipal {
    padding-left: 100px;
}


.fade {
    transition: opacity .15s ease-out;
}

body {
    background-image: url("../img/imgPrincipal.jpg");
    background-attachment: fixed;
}

@font-face {
  font-family: Grandezza;
  src: local("Grandezza Medium"),
  url(../fonts/Grandezza/SF_Grandezza_Medium.ttf);
  font-weight: bold;
}

#menu {
    width: 100%;
    position: fixed;
    z-index: 100;
}

#col {
    z-index: -1;
}

#carousel {
  padding-top: 70px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
}

.subText {
    border-bottom: solid 2px black;
}
#divImage {
    width: 100%;
}


.imgServices {
    box-shadow: 1px 1px 7px #dddfe2;
    max-width: 60%;
}

.textImg {
    position:relative;
    top:-60px;
    left:10px;
    z-index: 1;
    color: #fcf8e3;
    font-size: 18px;
}

.mainNavVisible {
    border-bottom: 1px solid rgba(33,37,41,.1);
    background-color: #fff;
}
.mainNavNoVisible {
    border-color: transparent;
    background-color: #f05f40;
}

#mainNav {
    background-color: #06577c;
}


#titleCatalogue {
  color: #ED6E59;
}

#navbarResponsive {

}

.noLimit {
  padding: 0px !important;
  margin-right: 0px !important;
  margin: 0px !important;
}

.showLimit {
  border: 2px solid black;
}

@media only screen and (min-width: 1199px) {
  #carousel {
    padding-top: 0px;
  }
}

@media only screen and (max-width: 992px) {
  #carousel {
    padding-top: 0px;
  }
}

@media only screen and (max-width: 469px) {
  #logo {
    display: none;
  }
  #tituloPrincipal {
    padding-left: 0px;
  }
}

#divSelectedCar {
    padding-top: 15px;
    padding-bottom: 15px;
}

.textPruebaManejo {
    margin-top: 70px;
    background-color: #7f0ed6;
    padding: 6px !important;
    margin-bottom: 0px !important;
    width: 100%;
    
}

#divAgenda {
    padding-top: 0px !important;
    margin-top: 0px !important;
}
