#logo{
    width: 70px;
    height: 70px;
}

.full {
    width: 100%;
}

.texto {
    
}

/*body {
    background-image: url("../img/imgPrincipal.jpg");
}*/

@font-face {
  font-family: Grandezza;
  src: local("Grandezza Medium"),
  url(../fonts/Grandezza/SF_Grandezza_Medium.ttf);
  font-weight: bold;
}

#menu {
    width: 100%;
    position: fixed;
    z-index: 100;
}

#col {
    z-index: -1;
}

#logo {
    
}